@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

@font-face {
  font-family: 'MouseMemoris';
  src: url('./assets/fonts/MouseMemoirs-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
