@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

@font-face {
  font-family: 'MouseMemoris';
  src: url('./assets/fonts/MouseMemoirs-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.menu-box{
  background: linear-gradient(#344abae6, #001479e6);
  box-shadow: inset 0 -8px 0 4px #140e66, inset 0 6px 0 9px #2463ff;
  border-radius: 48px;
}

.play-button{
  position: relative;
}
.play-button::after{
  content: '';
  position: absolute;
  top: 0;
  border-radius: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -4px 0 5px #243041, inset 0 -12px 0 11px #9d2df5;
}

.small-button-background{
  box-shadow: inset 0 -2px 0 3px #140e66, inset 0 1px 0 6px #3c74ff;
}
.heading-s{
  @apply text-[32px] uppercase tracking-[1.5px]
}

.stroke{
  -webkit-text-stroke: 20px #243041;
}
